{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Anagrams Exercise Tutorial
{% endblock %}

{% block content %}

    {% block myscripts %}
    <style type="text/css">
      #clock > p {
        margin: 0;
      }
      .spaced-row {
        line-height: 4em;
        height: 4em;
        width: 100%;
        overflow-x: auto;
      }
      .spacered {
        border-bottom: 1px #aaa dashed;
        padding-bottom: 5px;
        margin-bottom: 10px;
      }
      .spacered-top {
        border-top: 1px #aaa dashed;
        padding-top: 5px;
      }
    </style>
        <script type="text/javascript" src="{% static 'anagrams/rivets.bundled.min.js' %}"></script>

        <script type="text/javascript">
            // var from_django = "foobar";
            //var varsFromDjango = {{ vars_for_js }};
        </script>
    {% endblock %}

    {% include "anagrams/_anagrams_game.html" %}
		
		 <div class="modal fade" data-backdrop="static" id="intro" tabindex="-1" role="dialog">
  			<div class="modal-dialog" role="document">
    			<div class="modal-content">
      			<div class="modal-header">        				
        				<h4 style="font-weight: bold; padding: 0;">
							Welcome to the Anagrams game!</h4> 
      			</div>
      			<div class="modal-body" style="max-height: 600px; overflow-y:auto;">
                		<p>You and your team are about to play a game called <strong>Anagrams</strong>. 
            				The objective of your team is to try to create as many words as possible.
            				Each word you contribute will add to the points that your team earns.
            				At the end of the round, points will be split equally among all team members.
            			</p>
            			<p>Scoring works as follows: </p>
            			<ol>
            				<li>If your team is able to form {{session.config.threshold_num_words}} words, then you will earn 
            				{{session.config.threshold_num_points}} points.</li>
            				<li>Any additional word will add {{session.config.marginal_points|c}} to the score.</li>
            				<li>If you can duplicate another team member's word, then you receive 2x points.</li>
            			</ol>
            			<p>	 
            				<strong>You will have {{session.config.timeout_anagrams_min}} minutes to try to make as many words as possible!</strong>
            			</p>
            			<p>First, we'll show you how to play. Please click 'Take Tour' to continue.</p>
            			<button type="button" class="btn btn-primary" data-dismiss="modal" style="display: inline-block;">
		                    	Take Tour
   						</button>
      			</div>
    			</div>
  			</div>
			</div> 

<div class="row" style="text-align: center; padding-left: 15px; padding-right: 15px;">
	<button id="info-detail" type="button" class="btn btn-default disabled" data-toggle="modal" data-target="#Instructions"
           style="background-image: none; display: inline-block; height: 25px; margin: auto; padding: 3px;">
		<span class="glyphicon glyphicon-hand-up" aria-hidden="true"></span>                       	
       	View Detailed Instructions
   </button>  
   <p style="text-align: justify;"><strong>Team Anagrams »</strong> How many words can you create with your set of letters? Remember, if you run out of ideas, you can always look at
        		your teammates' letters to make requests! Duplicate words are ok. Submit anything you can, let us determine if it is a word!
        		<b><em>Can your team beat the previous record of {{session.config.bestScore}} words?</em></b></p>
</div>
  

<div style="text-align: center">{% next_button %}</div>

{% endblock %}

{% block global_scripts %}
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.5.0/intro.min.js"></script>
    <script src="{% static 'js/game_intro.js' %}"></script>
    <script type="text/javascript" >
      $('#intro').modal()
        .on('hidden.bs.modal', function (e) {
          tour = new Tour();
      });
    </script>
	 <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.5.0/introjs.min.css">
    <style>
        .otree-chat {
            border: 1px solid #ccc;
            padding: 5px;
            margin: 5px 0 0 0;
        }

        .otree-chat .messages {
            height: 70px;
            overflow-y: auto;
            background: #eee;
            margin: 2px 0 5px 0;
        }

        .otree-chat .nickname {
            display: inline-block;
            color: #C07A36;
            font-weight: bold;
        }
    </style>

{% endblock %}
