{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block head_title %}
    Team Assignment
{% endblock %}

{% block title %} Team Assignment{% endblock %}

{% block content %}
	 <h2>Team Assignment</h2>
    <p style="text-align: justify;">
        Great! Thanks again for participating in our study. Before we can play, we need to create your team with other Turkers.
        When you click next below, you will automatically be inserted into the team.
    </p>
    <div class="row">
    <img style="margin: auto;" class="img img-responsive" src={% static "instructions/images/group_entry.png" %} alt="not here">
	 </div>
	 
	 <br/>
	 <p><strong>Click 'Next' to join team.</strong></p>
    {% next_button %}

{% endblock %}
