{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}
{% load static %}

{% block head_title %}
    Team Proximity
{% endblock %}

{% block title %} Team Proximity {% endblock %}

{% block myscripts %}

    <script type="text/javascript" src="{% static 'js/difi.js' %}"></script>

{% endblock %}

{% block styles %}
<style type="text/css">
#main_container {
	width: 900px;
}
</style>

{% endblock %}

{% block content %}
	 <h4>Post Exercise Question:</h4>
    <p>
        <strong>How closely aligned do you feel you are with your team?</strong>
        You can drag the circle "Me" closer to or farther away from the circle that says "My Team".
        The closer you are to "My Team", the more aligned you feel.
    </p>
    <div style="margin-bottom: 15px;">
        <input name="distanceScale" id="distanceScale">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input name="overlapScale" id="overlapScale">
    </div>
	 <div class="panel panel-default" style="width: 100%; text-align: center;">
	 	<div class="panel-heading">
	 	<h4 style="text-align: left; margin: 0; padding: 0;">Examples:</h4>
	 	</div>
	 	<div class="panel-body">
	 	
	 	<img style="display: inline-block;" height="100px" src="{% static "images/legend.png" %}" alt="">
	 	</div>
	 	
	 </div>




	 <p><strong>Move the circle that says "Me" to show show your group proximity:</strong></p>
    <script language="JavaScript">difi("Scale", "My Team", "Me", "maroon", "-50");</script>


    <p><strong>When finished, click 'Next',</strong></p>
    {% next_button %}

{% endblock %}


