{% extends "global/WaitPage.html" %}
{% load staticfiles otree_tags %}

{% block head_title %} Teammates are on their way... {% endblock %}
{% block titletext %}<strong>Syncing your team: <span style="font-size: 20pt;" id="countdown"></span> out of <span id="N"></span> remaining.</strong>{% endblock %}

{% block content %}
	Although everyone on your team must decide individually how much to contribute, everyone needs to decide at the same time.
	The next exercise will begin shortly.
{% endblock %}

{% block scripts %}
{% endblock %}
