{% extends "base.html" %}

{% load static %}

{% block title %}{% block head_title %}{% endblock head_title %}{% endblock title %}


{% block css %}
    {{ block.super }}
{% endblock %}


{% block body %}

    <body style="background-image: url('/static/images/bg3.jpg'); background-size:100% auto; background-repeat:no-repeat;">

    <nav class="navbar navbar-default" id="navbar_topdiv"
         style="border-radius: 0px; background: rgb(241, 241, 241); border: 0px;">
        <div class="container-fluid">
            <div class="navbar-header col-md-4 text-center">
                <a class="navbar-brand" href="{% url 'redirect' %}"
                   style="margin-left: 20px; font-size: 180%; font-weight: bold; font-family: 'Times New Roman', Times, serif;">
                    <b><span style="color: #EC4335;">N</span><span style="color: #34AA54;">G</span><span
                            style="color: #4285F5;">S</span><span style="color: #F26722;">2</span>
                        <span style="color: #34AA54;">Montage</span></b>
                </a>
            </div>
            <div class="col-md-4" style="text-align: center; padding-top: 10px;">
                {% block header_message %}
                {% endblock %}
            </div>
            <div class="col-md-4">
                <ul class="nav navbar-nav navbar-right" style="padding-right: 25px;">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span
                                style="font-size:120%;">Welcome {{ user.first_name|title }}</span>
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'account_change_password' %}" style="font-size:120%;">Change Password</a></li>
                            <li><a href="{% url 'account_logout' %}" style="font-size:120%;">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    {% block container %}
        <div class="container">

            {% block inner %}{% endblock %}


        </div> <!-- /container -->
    {% endblock container %}

    {% block modal %}{% endblock modal %}

    </body>

{% endblock %}
