{% extends "account/base_login.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block inner %}

    <div class="row" style="margin-top: 200px;">
        <div class="col-md-3"></div>
        <div class="col-md-6" style="background: white; padding: 30px; border-color: lightgray;
                border-radius: 12px; border-width: 3px; border-style: groove;">

            <h1>{% trans "Change Password" %}</h1>
            <br/>

            {% include 'account/messages.html' %}

            <form method="POST" action="{% url 'account_change_password' %}" class="password_change form-horizontal">
                {% csrf_token %}
                {% crispy form %}
                <div class="form-group" style="text-align:center;">
                    <button class="btn btn-primary" type="submit" name="action">{% trans "Change Password" %}</button>
                </div>
            </form>

        </div>
        <div class="col-md-3"></div>
    </div>



{% endblock %}

