{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block head_title %}
    User Consent
{% endblock %}

{% block title %} Informed Consent Agreement {% endblock %}


{% block styles %}
    <style>
        table {
            border: 1px solid #eeeeee;
            border-collapse: collapse;
        }

        th {
            border: 1px solid #eeeeee;
            border-collapse: collapse;
            padding: 10px;
            text-align: left;
        }

        td {
            border: 1px solid #eeeeee;
            border-collapse: collapse;
            padding: 10px;
        }
    </style>
{% endblock %}

{% block content %}
<h4><strong>Before joining your team, we'll need your consent to participate at the bottom of this page.</strong></h4>
    <table style="width:100%">
        <tr>
            <th>Project Title</th>
            <td>NGS2 - “Jointly” Team Exercise System</td>
        </tr>

        <tr>
            <th>Principal<br/>Investigator</th>
            <td>
                Dr. Naren Ramakrishnan,<br/>
                Professor, Department of Computer Science at Virginia Tech<br/>
                900 N. Glebe Rd.<br/>
                Arlington, VA 22203, USA<br/>
                (571) 858-3331<br/>
                e-mail: naren@vt.edu
            </td>
        </tr>

        <tr>
            <th>Sponsorship</th>
            <td>Defense Advanced Research Projects Activity (DARPA) - Department of Defense (DoD)</td>
        </tr>

        <tr>
            <th>Purpose of<br/>Research</th>
            <td>
                You are being asked to volunteer for this research study to help us better understand how 
                various team configurations function while playing different exercises. The researchers are 
                faculty members and students at the following academic institutions: Virginia Tech, Stanford 
                University, Cornell University, Northwestern University, and Johns Hopkins University.
            </td>
        </tr>

        <tr>
            <th>Criteria for<br/>Participation</th>
            <td>
                You must be at least 18 years of age to participate in this study. We are inviting you to 
                participate in this research project, because you are at least 18 years of age, understand 
                English, and use an Internet-enabled computer.
            </td>
        </tr>

        <tr>
            <th>Procedures</th>
            <td>
                The experiment consists of a web application that is the main interface. The study will begin
                 with a basic sociodemographic questionnaire and AMT usage habits. You will then be placed on a team. 
                 Your team will then participate in up to three exercises where you will interact through a 
                 game interface and submit decisions. Throughout the study you will be asked various survey questions. 
                 At the end of the study, you will be shown your final score and proceed back to AMT.
            </td>
        </tr>

        <tr>
            <th>Time Required</th>
            <td>
                We expect the entire exercise will not take more than 30 minutes to complete.
            </td>
        </tr>

        <tr>
            <th>Risks</th>
            <td>There are no anticipated risks.</td>
        </tr>

        <tr>
            <th>Benefits</th>
            <td>
                There will be no direct benefits to you by participating in this study. However, your participation 
                will help us learn about how individuals function in different team arrangements. 
                No promise or guarantee of benefits has been made to encourage you to participate.
            </td>
        </tr>

        <tr>
            <th>Compensation</th>
            <td>
                There will be a $0.05 - show-up fee for agreeing to participate. Rewards in the subsequent phases 
                will reflect the decisions made and will range from $1 - $5 (we expect on average that a participant 
                will earn $7.00/hr).
            </td>
        </tr>

        <tr>
            <th>Voluntary<br/>Participation</th>
            <td>
                Your participation in this study is completely voluntary. You may refuse to take part in the 
                research or exit the study at any time without penalty. You are free to decline to answer any 
                particular question or disengage from the game at any time for any reason without question.
            </td>
        </tr>

        <tr>
            <th>Right to<br/>Withdraw from<br/>the Study</th>
            <td>
                You have the right to withdraw from the study at any time without any negative
                consequences.
                <b>Note: As per Amazon Mechanical Turk standard, you will earn rewards only for the
                tasks you appropriately complete before your withdrawal. There is no penalty for
                withdrawing, and you will still earn a $.05 show-up fee. Your worker ID will not be
                stored upon withdrawal.</b>
            </td>
        </tr>

        <tr>
            <th>Anonymity and<br/>Confidentiality</th>
            <td>
                <p>
                    Your individual privacy will be protected in all papers, books, talks, posts, or stories 
                    resulting from this study. In order to protect the confidentiality of your responses, we 
                    will assign you an identification (ID) number, and your decisions and the collected data 
                    will be recorded using that number, without a link to your name or other identifiable information. 
                    The ID number will be stored separately in a database which can only be accessed by authorized 
                    personnel. The results of the study, including laboratory or any other data, may be published 
                    for scientific purposes and may be shared with other researchers, but we will not give your 
                    name or any identifiable references to you.
                </p>
                <p>
                    Please be aware that any work performed on Amazon Mechanical Turk can potentially be linked to 
                    information about you on your Amazon public profile page, depending on the settings you have for 
                    your Amazon profile. We will not be accessing any personally identifying information about you 
                    that you may have put on your Amazon public profile page. We will not store your Mechanical Turk 
                    worker ID or any other personally identifiable information about you.
                </p>
                <p>
                    At no time will the researchers release identifiable results of the study to anyone other than 
                    individuals working on the project without your written consent. The Virginia Tech Institutional 
                    Review Board (IRB) may view the study’s data for auditing purposes. The IRB is responsible for the 
                    oversight of the protection of human subjects involved in research. Representatives from the Department 
                    of Defense (DoD) may view the study’s data for auditing purposes and protection of human subjects.
                </p>
            </td>
        </tr>

        <tr>
            <th>Questions of<br/>Concerns</th>
            <td>
                If you have any questions or would like additional information about this study, please
                contact:
                <ol>
                    <li>
                        Brian J. Goode; Discovery Analytics Center (Virginia Tech); (571) 858-3344;
                        <a href="mailto:bjgoode@vt.edu" target="_top">bjgoode@vt.edu</a>
                    </li>
                    <li>
                        Chris Kuhlman; Biocomplexity Institute of Virginia Tech; (540) 231-3997;
                        <a href="mailto:ckuhlman@vbi.vt.edu" target="_top">ckuhlman@vbi.vt.edu</a>
                    </li>
                </ol>
                The Virginia Tech Institutional Review Board (IRB) has approved this project. You may contact the Chair 
                of the Institutional Review Board, Dr. David Moore, at 
                <a href="mailto:moored@vt.edu" target="_top">moored@vt.edu</a> or (540) 231-4991.
            </td>
        </tr>

        <tr>
            <th>Electronic<br/>
                Consent</th>
            <td>
                Please select your choice below. You may print a copy of this consent form for your records.
                By clicking on the “Agree” button you indicate that
                <ol>
                    <li>
                        You have read and understand the above information.
                    </li>
                    <li>
                        You voluntarily agree to participate.
                    </li>
                    <li>
                        You are 18 years of age or older.
                    </li>
                </ol>
                    <input type="radio" name="consent" value="True"> Agree<br>
                    <input type="radio" name="consent" value="False"> Disagree<br>
            </td>
        </tr>

    </table>

    <br/>
    {% next_button %}

{% endblock %}
