{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block head_title %}
    Phase 2 Instructions
{% endblock %}


{% block title %} Instructions for Phase 2. Team Reward. {% endblock %}


{% block content %}

    <!-- YouTube WELL : START -->
    <div class="row" style="margin-top: 5px;">
        <div class="col-md-12" style="padding-left: 5px; padding-right: 5px;">
            <div class="well heading-well text-center" style="padding: 10px;">
                <div style="float:right">
                                <span class="glyphicon glyphicon-minus" id="youtubeControlGlyph"
                                      onclick="hide_panel('youtubeDiv', 'youtubeControlGlyph');">
                                </span>
                </div>
                <b><span style="color: rgb(34, 34, 34); font-family: Arial, sans-serif; font-weight: bold;
                font-size: 120%;">Video Tutorial</span></b>
            </div>
        </div>
    </div>
    <!-- YouTube WELL : END -->

    <!-- YouTube DIV : START -->
    <div class="row" id="youtubeDiv" style="margin-top: 0px;">
        <div class="col-md-12" style="text-align: center;">
            <iframe width="80%" height="315" src="https://www.youtube.com/embed/4HhBJxUrb98" frameborder="0"
                    allowfullscreen></iframe>
        </div>
    </div>
    <!-- YouTube DIV : END -->

    <!-- Instructions WELL : START -->
    <div class="row" style="margin-top: 25px;">
        <div class="col-md-12" style="padding-left: 5px; padding-right: 5px;">
            <div class="well heading-well text-center" style="padding: 10px;">
                <div style="float:right">
                                <span class="glyphicon glyphicon-minus" id="instructionsControlGlyph"
                                      onclick="hide_panel('instructionsDiv', 'instructionsControlGlyph');">
                                </span>
                </div>
                <b><span style="color: rgb(34, 34, 34); font-family: Arial, sans-serif; font-weight: bold;
                font-size: 120%;">Instructions</span></b>
            </div>
        </div>
    </div>
    <!-- Instructions WELL : END -->

    <!-- Instructions DIV : START -->
    <div class="row" id="instructionsDiv">
        <div class="col-md-12">
            <p>
                At this point in the game, each player of your team has received <span style="color:red">$[TBD from Phase 1]</span>. You will keep
                this amount, no matter your future interactions.
            </p>

            <p>
                We now move on. Just for participating, we will now give each member of your team an additional
                <span style="color:red">$[TBD2]</span>. However, a portion of this <span style="color:red">$[TBD2]</span> can be contributed to the team, which will be doubled, and
                then redistributed back to members of the team. Each of you now has to decide how much to contribute to
                the team. The total amount contributed to the team will be multiplied 2 and the redistributed among the
                team again. Therefore, if no one contributes, everyone keeps their <span style="color:red">$[TBD2]</span>. And if everyone contributes,
                then those earnings can be increased by a maximum of 100%. Your final earnings will be the amount you
                do not contribute plus your fraction of the total amount contributed by the team. You will have two
                minutes to make a decision; if you do not make a decision within this time, the default will be that you
                keep all of your money (that is, contributing nothing). The accompanying interactive graphic can help
                you decide what to contribute; you can use this or not—whatever you prefer.
            </p>
        </div>
    </div>
    <!-- Instructions DIV : END -->


    <!-- Quiz WELL : START -->
    <div class="row" style="margin-top: 25px;">
        <div class="col-md-12" style="padding-left: 5px; padding-right: 5px;">
            <div class="well heading-well text-center" style="padding: 10px;">
                <div style="float:right">
                                <span class="glyphicon glyphicon-minus" id="quizControlGlyph"
                                      onclick="hide_panel('quizDiv', 'quizControlGlyph');">
                                </span>
                </div>
                <b><span style="color: rgb(34, 34, 34); font-family: Arial, sans-serif; font-weight: bold;
                font-size: 120%;">Quiz</span></b>
            </div>
        </div>
    </div>
    <!-- Quiz WELL : END -->

    <!-- Quiz DIV : START -->
    <div class="row" id="quizDiv" style="margin-top: 0px;">
        <div class="col-md-12">
            <p>
                Please answer the following questions:
            </p>

            <ol>
                <li>
                    <b>
                        You are given $1 to play this game. You are to decide what fraction of this $1 to share with the
                        team by contributing to the team “pot.” Choose options below that are true. Check all that
                        apply.
                    </b><br/>
                    <div class="checkbox">
                        <label><input type="checkbox" name="question1[]" value="a">
                            You are also risking money that you earned in Phase 1, so the $1 has to be added to the
                            Phase 1 money when considering what percentage to give to the team.
                        </label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" name="question1[]" value="b">
                            You will be interacting with neighbors in this game and should get advice from them.
                        </label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" name="question1[]" value="c">
                            The percentage of money you contribute to the team “pot” will be pooled with the
                            contributions of other team members, doubled, and redistributed.
                        </label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" name="question1[]" value="d">
                            The percentage that you choose to keep for yourself will be yours, no matter what is
                            contributed to the team pot by you and your teammates.
                        </label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" name="question1[]" value="e">
                            The correct decision is obvious: keep the entire $1 because the best you can do, if you
                            contribute money to the team, is if everyone else contributes money and all team
                            members divide the total amount in the “pot.” So you might as well keep the $1 for
                            yourself.
                        </label>
                    </div>
                    <br/>
                </li>
            </ol>

            <input type="hidden" name="public_goods_hidden" value="5" id="id_public_goods_hidden"/>

        </div>
    </div>
    <!-- Quiz DIV : END -->

    <br/>
    {% next_button %}

{% endblock %}


{% block scripts %}
    <script>
        function hide_panel(divId, glyphId) {
            if (!document.getElementById(divId)) {
                alert("Given Div Id : " + divId + " Doesn't Exist.");
                return
            }
            if (!document.getElementById(glyphId)) {
                alert("Given glyph Id : " + glyphId + " Doesn't Exist.");
                return
            }
            if (document.getElementById(glyphId).className == 'glyphicon glyphicon-minus') {
                document.getElementById(divId).style.display = 'none';
                document.getElementById(glyphId).className = 'glyphicon glyphicon-plus';
            }
            else {
                document.getElementById(divId).style.display = 'block';
                document.getElementById(glyphId).className = 'glyphicon glyphicon-minus';
            }
        }
    </script>
{% endblock %}