<!-- Instructions WELL : START -->
    <div class="row" style="margin-top: 25px;">
        <div class="col-md-12" style="padding-left: 5px; padding-right: 5px;">
            <div class="well heading-well text-center" style="padding: 10px;">
                <div style="float:right">
                                <span class="glyphicon glyphicon-minus" id="instructionsControlGlyph"
                                      onclick="hide_panel('instructionsDiv', 'instructionsControlGlyph');">
                                </span>
                </div>
                <b><span style="color: rgb(34, 34, 34); font-family: Arial, sans-serif; font-weight: bold;
                font-size: 120%;">Instructions</span></b>
            </div>
        </div>
    </div>
    <!-- Instructions WELL : END -->

    <!-- Instructions DIV : START -->
    <div class="row" id="instructionsDiv">
        <div class="col-md-12">
            <p>
                At this point in the game, each player of your team has received <span style="color:red">$[TBD from Phase 1]</span>. You will keep
                this amount, no matter your future interactions.
            </p>

            <p>
                We now move on. Just for participating, we will now give each member of your team an additional
                <span style="color:red">$[TBD2]</span>. However, a portion of this <span style="color:red">$[TBD2]</span> can be contributed to the team, which will be doubled, and
                then redistributed back to members of the team. Each of you now has to decide how much to contribute to
                the team. The total amount contributed to the team will be multiplied 2 and the redistributed among the
                team again. Therefore, if no one contributes, everyone keeps their <span style="color:red">$[TBD2]</span>. And if everyone contributes,
                then those earnings can be increased by a maximum of 100%. Your final earnings will be the amount you
                do not contribute plus your fraction of the total amount contributed by the team. You will have two
                minutes to make a decision; if you do not make a decision within this time, the default will be that you
                keep all of your money (that is, contributing nothing). The accompanying interactive graphic can help
                you decide what to contribute; you can use this or not—whatever you prefer.
            </p>
        </div>
    </div>
    <!-- Instructions DIV : END -->