{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block head_title %}
    NGS2 Montage Instructions
{% endblock %}

{% block title %} NGS2 Montage Instructions {% endblock %}

{% block content %}

    <p>
        Hi {{ user.first_name|title }},
    </p>

    <p>
        Welcome to the NGS2 - Montage Group Ultimatum Game! This study aims to characterize and identify
        the emergence and change of collective identity in groups and teams. In this game, you will be teamed
        with other individuals. Throughout the game, you will have the opportunity to collaborate and
        communicate with other members of your team during three phases of the game. In each of the phases,
        you will have the opportunity to earn a non-trivial amount of money based on your experimental
        participation. You will receive <span class="var var-initial-payment" style="color: red;">[initial-payment]</span> just for agreeing to participate.
    </p>

    <br/>
    {% next_button %}

{% endblock %}
