{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block head_title %}
    Team Contribution
{% endblock %}

{% block title %} Team Contribution {% endblock %}

{% block content %}
	 <h2>Team Contribution Decision.</h2>
    <h4 style="text-align: justify;">
        Congratulations! You have the opportunity increase your participation earnings.
        We have decided to give everyone on your team a bonus of {{session.config.pgg_bonus|c}}. This will not affect your score from previous exercises.
        We have also set up a team account, to which you can contribute. All earnings placed in this team account will be doubled and redistributed evenly to everyone on the team.
    </h4>
   
	 
	 <br/>
	 <p><strong>Click 'Next' to proceed.</strong></p>
    {% next_button %}

{% endblock %}
