{% extends "account/base_login.html" %}
{% load i18n %}
{% block head_title %} Additional User Information {% endblock %}

{% block inner %}

    <div class="row" style="margin-top: 200px;">
        <div class="col-md-2"></div>
        <div class="col-md-8" style="background: white; padding: 30px; border-color: lightgray;
                border-radius: 12px; border-width: 3px; border-style: groove;">

            <h1 style="text-align: center;">{% trans "Additional User Info" %}</h1>
            <br/>
            <p>Needs to be filled</p>

        </div>
        <div class="col-md-2"></div>
    </div>


{% endblock %}