{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block head_title %}
    Phase 2 Instructions
{% endblock %}


{% block title %} Instructions for Phase 2. Team Reward. {% endblock %}


{% block content %}

    {% include 'instructions/public_goods_youtube.html' %}

    {% include 'instructions/instructions_public_goods.html' %}


    <!-- Quiz WELL : START -->
    <div class="row" style="margin-top: 25px;">
        <div class="col-md-12" style="padding-left: 5px; padding-right: 5px;">
            <div class="well heading-well text-center" style="padding: 10px;">
                <div style="float:right">
                                <span class="glyphicon glyphicon-minus" id="quizControlGlyph"
                                      onclick="hide_panel('quizDiv', 'quizControlGlyph');">
                                </span>
                </div>
                <b><span style="color: rgb(34, 34, 34); font-family: Arial, sans-serif; font-weight: bold;
                font-size: 120%;">Quiz</span></b>
            </div>
        </div>
    </div>
    <!-- Quiz WELL : END -->

    <!-- Quiz DIV : START -->
    <div class="row" id="quizDiv" style="margin-top: 0px;">
        <div class="col-md-12">
            <p>
                Please answer the following questions:
            </p>

            <ol>
                <li>
                    <b>
                        You are given $1 to play this game. You are to decide what fraction of this $1 to share with the
                        team by contributing to the team “pot.” Choose options below that are true. Check all that
                        apply.
                    </b><br/>
                    <div class="checkbox">
                        <label><input type="checkbox" name="question1[]" value="a">
                            You are also risking money that you earned in Phase 1, so the $1 has to be added to the
                            Phase 1 money when considering what percentage to give to the team.
                        </label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" name="question1[]" value="b">
                            You will be interacting with neighbors in this game and should get advice from them.
                        </label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" name="question1[]" value="c">
                            The percentage of money you contribute to the team “pot” will be pooled with the
                            contributions of other team members, doubled, and redistributed.
                        </label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" name="question1[]" value="d">
                            The percentage that you choose to keep for yourself will be yours, no matter what is
                            contributed to the team pot by you and your teammates.
                        </label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" name="question1[]" value="e">
                            The correct decision is obvious: keep the entire $1 because the best you can do, if you
                            contribute money to the team, is if everyone else contributes money and all team
                            members divide the total amount in the “pot.” So you might as well keep the $1 for
                            yourself.
                        </label>
                    </div>
                    <br/>
                </li>
            </ol>

            <input type="hidden" name="public_goods_hidden" value="5" id="id_public_goods_hidden"/>

        </div>
    </div>
    <!-- Quiz DIV : END -->

    <br/>
    {% next_button %}

{% endblock %}


{% block scripts %}
    <script type="text/javascript" src="{% static 'js/hide_panel.js' %}"></script>
    <script type="text/javascript">
      $(".var-earnings-p1").html('earnings based on your performance in the anagrams game.');
		$(".var-bonus").html({{Constants.endowment|json}} + ' pts');
		$(".var-time-min").html({{Constants.decision_time_min|json}});
		$(".var").css({color: "black", fontWeight: "bold"});
	 </script>
{% endblock %}