<!-- YouTube WELL : START -->
    <div class="row" style="margin-top: 5px;">
        <div class="col-md-12" style="padding-left: 5px; padding-right: 5px;">
            <div class="well heading-well text-center" style="padding: 10px;">
                <div style="float:right">
                                <span class="glyphicon glyphicon-minus" id="youtubeControlGlyph"
                                      onclick="hide_panel('youtubeDiv', 'youtubeControlGlyph');">
                                </span>
                </div>
                <b><span style="color: rgb(34, 34, 34); font-family: Arial, sans-serif; font-weight: bold;
                font-size: 120%;">Video Tutorial</span></b>
            </div>
        </div>
    </div>
    <!-- YouTube WELL : END -->

    <!-- YouTube DIV : START -->
    <div class="row" id="youtubeDiv" style="margin-top: 0px;">
        <div class="col-md-12" style="text-align: center;">
            <iframe width="80%" height="315" src="https://www.youtube.com/embed/KTg9qyMTIUQ" frameborder="0"
                    allowfullscreen></iframe>
        </div>
    </div>
    <!-- YouTube DIV : END -->