{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}
{% load otreechat %}


{% block title %}
    Anagrams Exercise
{% endblock %}

{% block content %}

    {% block myscripts %}
        <style type="text/css">
          #clock > p {
            margin: 0;
          }
          .spaced-row {
            line-height: 4em;
            height: 4em;
            width: 100%;
            overflow-x: auto;
          }
          .spacered {
            border-bottom: 1px #aaa dashed;
            padding-bottom: 5px;
            margin-bottom: 10px;
          }
          .spacered-top {
            border-top: 1px #aaa dashed;
            padding-top: 5px;
          }
        </style>
        <script type="text/javascript">
            // var from_django = "foobar";
            var varsFromDjango = {{ vars_for_js }};
        </script>
        <script type="text/javascript" src="{% static 'anagrams/rivets.bundled.min.js' %}"></script>

        <script type="text/javascript">
        // Create cookie
        function createCookie(name, value, days) {
            var expires;
            if (days) {
                var date = new Date();
                date.setTime(date.getTime()+(days*24*60*60*1000));
                expires = "; expires="+date.toGMTString();
            }
            else {
                expires = "";
            }
            document.cookie = name+"="+value+expires+"; path=/";
        }

        // Read cookie
        function readCookie(name) {
            var nameEQ = name + "=";
            var ca = document.cookie.split(';');
            for(var i=0;i < ca.length;i++) {
                var c = ca[i];
                while (c.charAt(0) === ' ') {
                    c = c.substring(1,c.length);
                }
                if (c.indexOf(nameEQ) === 0) {
                    return c.substring(nameEQ.length,c.length);
                }
            }
            return null;
        }

        // Erase cookie
        function eraseCookie(name) {
            createCookie(name,"",-1);
        }
        </script>
    {% endblock %}

   {% include "anagrams/_anagrams_game.html" %}
		
		 <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  			<div class="modal-dialog" role="document">
    			<div class="modal-content">
      			<div class="modal-header">
        				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>        				
        				<h4 style="font-weight: bold; padding: 0;">
							<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                     <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                     <span class="glyphicon glyphicon-user" aria-hidden="true"></span>        				
        				Need more letters?</h4> 
            <div class="modal-body" style="max-height: 600px; overflow-y:auto;">
						<p><em>No problem!</em> We've made it so you can see what a few of your team members have. Choose a letter, and just click on what you need:</p>
      			</div>
                		<ul class="list-group">
                    	<li class="list-group-item" rv-each-friend="app.friends">
                        <p style="margin-bottom: 5px;"><b>{ friend.name }</b></p>
                        <button type="button" class="btn btn-default" data-dismiss="modal" rv-each-letter="friend.letters"
                                rv-on-click="letter.requestLetter" rv-class-disabled="letter.requested" style="margin-left: 5px;">{ letter }
                        </button>

                    	</li>
                		</ul>
      			</div>
    			</div>
  			</div>
			</div>
			<div class="modal fade" id="Instructions" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  			<div class="modal-dialog" role="document">
    			<div class="modal-content">
      			<div class="modal-header">
        				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>        				
        				<h4 style="font-weight: bold; padding: 0;">
							Instructions:</h4> 
      			</div>
      			<div class="modal-body" style="max-height: 600px; overflow-y:auto;">
                		{% include 'instructions_anagrams/instructions_anagram.html' %}	
      			</div>
    			</div>
  			</div>
			</div>    

<div class="row" style="text-align: center; padding-left: 15px; padding-right: 15px;">
	<button id="info-detail" type="button" class="btn btn-default" data-toggle="modal" data-target="#Instructions"
           style="background-image: none; display: inline-block; height: 25px; margin: auto; padding: 3px;">
		<span class="glyphicon glyphicon-hand-up" aria-hidden="true"></span>                       	
       	View Detailed Instructions
   </button>  
   <p style="text-align: justify;"><strong>Team Anagrams »</strong> How many words can you create with your set of letters? Remember, if you run out of ideas, you can always look at
        		your teammates' letters to make requests! Duplicate words are ok. Submit anything you can, let us determine if it is a word!
        		<b><em>Can your team beat the previous record of {{session.config.bestScore}} words?</em></b></p>
</div>
  

	 {% if session.config.use_chat %}
    <div class="row" style="background: white; padding: 10px 10px 20px 10px; border-color: lightgray;
                border-radius: 12px; border-width: 3px; border-style: groove;">
        <div class="col-md-12">
            {% for chat in player.chats %}
                {% if forloop.counter0|divisibleby:2 %}
                    <div class="row" style="margin-top: 10px;">
                {% endif %}
            <div class="col-md-6">
                <b>{{ chat.label }}</b>
                {% chat nickname=player.chat_nickname channel=chat.channel %}
            </div>
            {% if not forloop.counter0|divisibleby:2 or forloop.last %}
                </div>
            {% endif %}
            {% endfor %}

        </div>
    </div>
   

    <br/><br/>
     {% endif %}

{% if session.is_demo %}
<div style="text-align: center">{% next_button %}</div>
{% endif %}

{% endblock %}

{% block global_scripts %}
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript">

    // hack it up
    $('#main_container > .row').css('margin-top', '60px');

    $(".modal-dialog").draggable({
        handle: ".modal-header"
    });

    var cookieName = "getreadymodal_" + varsFromDjango.participant_code;
    if (!!!readCookie(cookieName)) {
      createCookie(cookieName, "true", 1000);
      $('#get-ready-modal').modal();
    }


    var timeRemaining = 5;

    var countdown = function () {
      timeRemaining--;
      if (timeRemaining > 0) {
        $('#countdown-number').text(timeRemaining);
        setTimeout(countdown, 1000);
      }
      else {
        $('#get-ready-modal').modal('hide');
      }
    };
    setTimeout(countdown, 1000);


		$(".letter-row").on('click','.letter', function () {
			var letter= $.trim($(this).text());
			$("#word-input").val($.trim($("#word-input").val()) + letter);
		});
		
		$("#searchclear")
		.hover(function() {
			$(this).css('color', 'black');		
		},function () {
			$(this).css('color', 'gray');
		})
		.click(function () {
			$("#word-input").val("");
		});
		
		(function($) {
    		$.fn.goTo = function(complete_func) {
    			var offset = $(this).offset().top - $('#word-tiles').offset().top + $('#word-tiles').scrollTop();
        		$('#word-tiles').animate({
            scrollTop: offset + 'px'
        		}, 'fast', function (complete_func) {
        		complete_func;	
        		});
        		return this;
    		}
		})(jQuery);
		
    </script>
    <script type="text/javascript" src="{% static 'anagrams/game.js' %}"></script>
    <style>
        .otree-chat {
            border: 1px solid #ccc;
            padding: 5px;
            margin: 5px 0 0 0;
        }

        .otree-chat .messages {
            height: 70px;
            overflow-y: auto;
            background: #eee;
            margin: 2px 0 5px 0;
        }

        .otree-chat .nickname {
            display: inline-block;
            color: #C07A36;
            font-weight: bold;
        }

        .modal-header h4 {
          cursor: move;
        }
    </style>

{% endblock %}
