{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}
{% load otreechat %}

{% block title %}
    Anagrams
{% endblock %}

{% block content %}

{% block myscripts %}
<script type="text/javascript">
    // var from_django = "foobar";
    var varsFromDjango = {{ vars_for_js }};
</script>
<script type="text/javascript" src="{% static 'anagrams/rivets.bundled.min.js' %}"></script>
{% endblock %}
<!--
Documentation on how to write a django template here:
https://docs.djangoproject.com/en/1.8/ref/templates/language/

Bootstrap comes pre-loaded, so you can use any Bootstrap elements:
http://getbootstrap.com/components/

    {% next_button %}
-->
<div id="app-view" class="row" style="background: white; padding: 30px; border-color: lightgray;
                border-radius: 12px; border-width: 3px; border-style: groove;">
    <div class="col-md-4">
        <div class="row">
            <ul>
                <li rv-each-friend="app.friends">
                    <span>Friend : { friend.name }</span>
                    <ul>
                        <li rv-each-letter="friend.letters">
                            <span rv-on-click="letter.requestLetter">Letter : { letter }</span>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="row">
            {% for chat in player.chats %}
                <h4>{{ chat.label }}</h4>
                {% chat nickname=player.chat_nickname channel=chat.channel %}
            {% endfor %}

<!--            <ul>
                <li rv-each-chat="app.chats">
                    <span>[{ chat.user }]</span>
                    <span>{chat.message}</span>
                    <span>({chat.created})</span>
                </li>
            </ul>

            <form onsubmit="return false">
                <div class="form-group">
                    <input rv-value="app.newChat" rv-on-submit="app.sendChat" type="text" name="new-chat">
                </div>
                <button rv-on-click="app.sendChat" type="submit" class="btn btn-default">Send Chat</button>
            </form>-->
        </div>
    </div>
    <div class="col-md-4">
        <div class="row">
            <ul>
                <li rv-each-word="app.successWords">
                    <span>{word}</span>
                </li>
            </ul>
        </div>
        <div class="row">
            Enter word:
            need input here

            <div class='otree-chat' id='anagrams-words-{{ word_channel }}'>
                <div class='messages'></div>
                <input size="40">
                <button type="button">Submit</button>
            </div>

            <p>{app.wordError}</p>

            <!--<form onsubmit="return false">
                <div class="form-group">
                    <input rv-value="app.newWord" rv-on-submit="app.sendWord" type="text" name="new-word">
                </div>
                <button rv-on-click="app.sendWord" type="submit" class="btn btn-default">Submit</button>
            </form>-->
        </div>
    </div>
    <div class="col-md-4">
        <div class="row">Welcome, {app.user.name}</div>
        <div class="row">Countdown goes here</div>
        <div class="row">
            Your Letters:
            <ul>
                <li rv-each-letter="app.user.letters">{letter}</li>
            </ul>
            Requested by your friends:
            <ul rv-each-friend="app.friends">
                <li rv-each-transaction="friend.transactions"
                    rv-on-click="transaction.approve"
                    rv-hide="transaction.approved">
                    {friend.name} requests your {transaction}
                </li>
            </ul>
            Received from your friends:
            <ul>
                <li rv-each-transaction="app.user.transactions"
                    rv-show="transaction.approved">
                    {transaction} from {transaction.letter.user}</li>
            </ul>
            Requested by you and waiting for response:
            <ul>
                <li rv-each-transaction="app.user.transactions"
                    rv-hide="transaction.approved">
                    requested {transaction} from {transaction.letter.user}</li>
            </ul>
        </div>
    </div>
</div>


{% endblock %}

{% block global_scripts %}
    <script type="text/javascript" src="{% static 'anagrams/game.js' %}"></script>
{% endblock %}
