{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}
{% load static %}

{% block head_title %}
    Phase 1: Survey
{% endblock %}

{% block title %} Phase 1: Survey {% endblock %}

{% block myscripts %}

    <script type="text/javascript" src="{% static 'js/difi.js' %}"></script>

{% endblock %}

{% block content %}

    <p>
        Hi {{ user.first_name|title }}. The diagram below is designed to represent your relationship with your group. Please indicate your relationship by clicking and dragging the smaller "Me" circle to the
        position circle representing you such that it best captures your relationship with the group.
    </p>

    <br/>

    <div style="margin-bottom: 15px;">
        Distance: <input name="distanceScale_before" id="distanceScale_before">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Overlap: <input name="overlapScale_before" id="overlapScale_before">
    </div>

    <script language="JavaScript">difi("Scale_before", "My Group", "Me", "maroon", "-50");</script>

    <br/>
    {% next_button %}

{% endblock %}
