{% extends "global/WaitPage.html" %}
{% load staticfiles otree_tags %}

{% block head_title %} Please Wait - Phase III {% endblock %}
{% block titletext %}Waiting for all participants to arrive{% endblock %}

{% block content %}

    <p>
        While you are waiting, please read the game instructions below:
    </p>


    {% include 'instructions/instructions_ultimatum.html' %}

    {% include 'instructions/ultimatum_youtube.html' %}

{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static 'js/hide_panel.js' %}"></script>
{% endblock %}
