{% extends "global/WaitPage.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Syncing Team Members
{% endblock title %}
{% block head_title %} Teammates are on their way... {% endblock %}
{% block titletext %}<strong>Your team is finishing their quiz: <span style="font-size: 20pt;" id="countdown"></span> out of <span id="N"></span> remaining.</strong>{% endblock %}

{% block content %}
<div class="row" style="width:100%; margin:0; padding:0;  text-align:center;">
<img class="img img-responsive" style="display:inline-block;" src="{% static 'instructions/images/group_entry.png' %}" alt="">
</div>
{% endblock %}

