{% extends "global/WaitPage.html" %}
{% load staticfiles otree_tags %}

{% block head_title %} Please Wait - Phase III {% endblock %}
{% block titletext %}Waiting for all participants to arrive{% endblock %}

{% block content %}

    <p>
        While you are waiting, please read the game instructions below:
    </p>


    {% include 'instructions/instructions_anagram.html' %}

    {% include 'instructions/anagrams_youtube.html' %}

{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static 'js/hide_panel.js' %}"></script>
    <script type="text/javascript">
      $(".var-n-players").html({{nPlayers|json}});
		$(".var-time").html({{Constants.anagrams_duration_sec|json}});
		$(".var-word-threshold").html({{Constants.word_threshold|json}});
		$(".var-threshold-payment").html({{Constants.threshold_payment|json}} + ' pts');
		$(".var-marginal-pay").html({{Constants.marginal_payment}});
		$(".var-share-limit").html('as many');
		$(".var").css({color: "black", fontWeight: "bold"});
    </script>
{% endblock %}
