{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block head_title %}
    No Response
{% endblock %}

{% block title %} No Response Received {% endblock %}

{% block content %}

    <p>
        Since we did not receive any response from you, your earnings from this game are 0.
    </p>

    <p style="color: red;">
        You are not allowed to play this game any further. We are sorry to see you go.
    </p>
    <br/>
    <a href="{% url 'account_logout' %}" class="btn btn-primary" role="button">Sign Out</a>


{% endblock %}
