{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}
{% load otreechat %}

{% block head_title %}
    Initial Receiver Expectations
{% endblock %}

{% block title %} Initial Receiver Expectations {% endblock %}

{% block myscripts %}
<script type="text/javascript">
    // var from_django = "foobar";
    var channel = "{{ channel }}";
    var participantCode = "{{ participantCode }}";
</script>
<script type="text/javascript" src="{% static 'anagrams/rivets.bundled.min.js' %}"></script>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-6" style="text-align: center;">
            <h3>Your Role: {{ player.player_role | title }}</h3>
        </div>
        <div class="col-md-6" style="text-align: center;">
            {% if view.show_histogram %}
                <h3>Your Expectation: {{ player.initial_receiver_expectation }}</h3>
            {% endif %}
        </div>
    </div>


    <div class="row" style="margin-top: 20px;">
        <div class="col-md-6" style="height: 300px; padding: 0px 50px 10px 50px;
                text-align: center; overflow-y:auto;">

            <h4>Your Neighbors:</h4><br/>
            {% for neighbor in neighbors %}
                <p>
                    <button type="button" class="btn btn-default disabled"
                            style="width: 230px;">{{ neighbor.expectation }}</button>
                    <button type="button" class="btn btn-success"
                            onclick="sendVote({{ neighbor.neighbor_id }}, {{ neighbor.user_id }}, true)">Up
                    </button>
                    <button type="button" class="btn btn-warning"
                            onclick="sendVote({{ neighbor.neighbor_id }}, {{ neighbor.user_id }}, false)">Down
                    </button>
                </p>
            {% endfor %}

        </div>
        <div class="col-md-6" style="height: 300px; padding: 10px; text-align: center;">

            {% if view.show_histogram %}
                <div id="histogram" style="height: 280px; margin: 0 auto"></div>
            {% else %}
                <h3>Your Expectation: {{ player.initial_receiver_expectation }}</h3>
            {% endif %}

        </div>
    </div>

    <br/>

    <div class="row">
        <div class="col-md-6">
            {% for chat in player.chats %}
                <div class="row">
                <div class="col-md-12">
                    <h4>{{ chat.label }}</h4>
                    {% chat nickname=player.chat_nickname channel=chat.channel %}
                </div>
                    
                </div>
            {% endfor %}
        </div>
        <div class="col-md-6">
            <div id="vote-view">
                <ul>
                    <li rv-each-vote="app.votes">
                        {vote}
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <br/><br/>

    <div style="text-align: center">{% next_button %}</div>


    {% include 'instructions/instructions_ultimatum.html' %}
    {% include 'instructions/ultimatum_youtube.html' %}

{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static 'js/hide_panel.js' %}"></script>

    {% if view.show_histogram %}
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
        <script>
            Highcharts.chart('histogram', {
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'Histogram of Expectations'
                },
                xAxis: {
                    categories: {{ labels }},
                    crosshair: true
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: 'Count'
                    }
                },
                tooltip: {
                    headerFormat: '<span style="font-size:10px">{point.key}: {point.y} players </span>',
                    pointFormat: '',
                    footerFormat: '',
                    shared: true,
                    useHTML: true
                },
                plotOptions: {
                    column: {
                        pointPadding: 0.2,
                        borderWidth: 0
                    }
                },
                series: [{
                    name: 'Bins',
                    data: {{ values }}
                }]
            });

        </script>
    {% endif %}

{% endblock %}

{% block global_scripts %}
    <script type="text/javascript" src="{% static 'ultimatum/voting.js' %}"></script>
{% endblock %}
